/* @media only screen and (min-width: 10px) and (max-width: 500px) { */
/*  ##########  I WILL ADD LATER    ######### */

  /* .version {
    font-size: 5rem;
    top: -100px;
  }
  main {
    width: 90vw;
    height: 90vh;
  }

  .todo-input-button {
    width: 100%;
  }

  .todo-input-button input {
    width: 200px;
    padding: 14px;
  }
  input::placeholder{
    font-size: 0.8rem;
  }
  #add {
    font-size: 1rem;
    padding: 15px;
  } 
    
}
  */
